body {
  margin: 0px;
  font-size: 2.4vh;
}

.logo {
  margin: 10px 10px;
  width: 170px;
}

.testButtons {
  position: absolute;
  right: 0;
  top: 17px;
}

.testButtons input {
  cursor: pointer;
}

.testButtons input:disabled {
  opacity: 0.6;
}

#infoBoxesContent {
  width: 55vh;
  border: 2px solid #000;
  position: absolute;
  left: -380px;
  top: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

#infoBoxesContent .main-img {
  margin-top: 0.5vh;
}

#infoBoxesContent .main-img img {
  width: 100%;
}

#infoBoxesContent .header {
  font-weight: bold;
  font-size: 3.3vh;
  padding: 0.35vh;
}

#infoBoxesContent .site, #infoBoxesContent .contact {
  padding: 0.3vh;
}

#infoBoxesContent .site p, #infoBoxesContent .contact p {
  -webkit-margin-before: 0em;
          margin-block-start: 0em;
  -webkit-margin-after: 0em;
          margin-block-end: 0em;
  display: inline-block;
  font-size: 2.5vh;
  width: 85%;
  white-space: nowrap;
}

#infoBoxesContent .site img, #infoBoxesContent .contact img {
  width: 2.5vh;
  margin-right: 5px;
}

#infoBoxesContent .fromTo {
  position: relative;
  margin-top: -7px;
}

#infoBoxesContent .fromTo table {
  border-spacing: 0px !important;
}

#infoBoxesContent .fromTo .fromTo_inner {
  width: 50%;
  height: 17.1vh;
  display: inline-block;
  border: 2px solid #000;
  font-size: 2vh;
  text-align: center;
  padding: 3.1vh;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#infoBoxesContent .fromTo .fromTo_inner.right {
  border-right: none;
  border-left: none;
}

#infoBoxesContent .fromTo .fromTo_inner.left {
  border-left: none;
}

#infoBoxesContent .fromTo_icon {
  position: absolute;
  top: 3.2vh;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 8.5vh;
  height: 8.5vh;
  border-radius: 50%;
}

#infoBoxesContent .fromTo_icon img {
  width: 100%;
  height: 100%;
}

#infoBoxesContent .date {
  margin-top: -7px;
  font-size: 2.5vh;
  text-align: center;
  height: 10%;
}

#infoBoxesContent .date .date_inner {
  display: inline-block;
  width: 50%;
  padding: 2.5vh 2vh 2.5vh;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#infoBoxesContent .date .date_inner.left {
  border-right: 2px solid #000;
}

#infoBoxesContent .non-display-button {
  position: absolute;
  top: 0;
  right: 0;
  right: 6px;
  font-size: 3vh;
}

#infoBoxesContent .non-display-button:hover {
  cursor: pointer;
}

.sendPointButtons {
  position: relative;
  top: 50%;
  text-align: center;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

.sendPointButtons .sendPointButton {
  display: inline-block;
  padding: 15px 30px;
  font-size: 24px;
  margin: 10px;
}

.sendPointButtons .sendPointButton:hover {
  cursor: pointer;
}
