body{
  //padding: 0 30% 0!important;
}

th{
  text-align:left;
}


.switch-buttons{
  //text-align:center;
  padding-top:80px;
  width:350px;
  margin:0 auto;
  .switch{
    width: 49%;
    height: 44px;
    border:1px solid #000;
    display:inline-block;
    text-align:center;
    line-height:44px;
    &:hover{
      cursor:pointer;
    }
    &.left{
      border-top-left-radius:10px;
      border-bottom-left-radius:10px;
    }
    &.right{
      border-top-right-radius:10px;
      border-bottom-right-radius:10px;
    }
    &.active{
      background-color:#000;
      color:#fff;
    }
  }
}

.submit-btn{
  width: 100%;
  margin-top: 15px;
  font-weight:bold;
  &:hover{
    cursor:pointer;
  }
}

table{
  margin:0 auto;
  margin-top:40px;
  width: 350px;
  tr{
    height: 35px;
  }
  th{
    width:36%;
  }
  td{
    width:64%;
  }
  // position:absolute;
  // top: 50%;
  // left: 50%;
  // transform: translate(-50%, -50%);
  // -webkit-transform: translate(-50%, -50%);
  // -ms-transform: translate(-50%, -50%);
}

.logo{
  width:400px;
  position:absolute;
  bottom:10px;
  right:40px;
}

.string-logo{
  z-index:2;
}