body{
  margin: 0px;
  font-size:2.4vh;
}

.logo{
  margin: 10px 10px;
  width:170px;
}

.testButtons{
  position:absolute;
  right:0;
  top:17px;
  input{
    cursor:pointer;
  }
  input:disabled{
    opacity:0.6;
  }
}

#infoBoxesContent{
  width:55vh;
  border:2px solid #000;
  position:absolute;
  left: -380px;
  top: 0;
  transition:0.5s;
  .main-img{
    margin-top:0.5vh;
    img{
      width:100%;
    } 
  }
  .header{
    font-weight:bold;
    font-size:3.3vh;
    padding: 0.35vh;
  }
  .site,.contact{
    padding: 0.3vh;
    p{
      margin-block-start: 0em;
      margin-block-end: 0em;
      display:inline-block;
      font-size: 2.5vh;
      width: 85%;
      white-space: nowrap;
    }
    img{
      width:2.5vh;
      margin-right:5px;
    }
  }
  .fromTo{
    position:relative;
    margin-top:-7px;
    table{
      border-spacing: 0px!important;
    }
    .fromTo_inner{
      width:50%;
      height:17.1vh;
      display:inline-block;
      border:2px solid #000;
      font-size:2vh;
      text-align:center;
      padding:3.1vh;
      box-sizing:border-box;
      &.right{
        border-right:none;
        border-left:none;
      }
      &.left{
        border-left:none;
      }
    }
  }
  .fromTo_icon{
    position:absolute;
    top:3.2vh;
    left:0;
    right:0;
    margin:0 auto;
    width: 8.5vh;
    height: 8.5vh;
    border-radius:50%;
    img{
      width: 100%;
      height: 100%;
    }
  }
  .date{
    margin-top:-7px;
    font-size:2.5vh;
    text-align:center;
    height:10%;
    .date_inner{
      display:inline-block;
      width:50%;
      padding:2.5vh 2vh 2.5vh;
      box-sizing:border-box;
      &.right{
        //width:49.7%;
      }
      &.left{
        border-right:2px solid #000;
      }
    }

  }
  .non-display-button{
    position:absolute;
    top:0;
    right:0;
    right: 6px;
    font-size: 3vh;
    &:hover{
      cursor:pointer;
    }
  }
}

.sendPointButtons{
  position: relative;
  top: 50%;
  text-align: center;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  .sendPointButton{
    // border:1px solid #000;
    display:inline-block;
    padding:15px 30px;
    font-size:24px;
    margin:10px;
    &:hover{
      cursor:pointer;
    }
  }
}